#div1 {
    border: 1px solid red;
}
.block {
    border: 1px solid red;
    width: 100px;
    height: 50px;
    margin: 10px auto;
}
.inline  {
    border: 1px solid red;
    /* 너비 높이를 줄 수 없다*/
    width: 200px;
    height: 100px;
    /* 좌우는 되고 위아래는 적용 안 됨*/ 
    margin: 30px 50px;
    /* 좌우만 되고 위아래 적용 안됨, 근데 border는 밀어짐 */
    padding: 30px 50px;
    /* display: block; */
    background-color: green;
}
.parent {
    border: 1px dotted rgb(255,0,255);
    
      text-align:center;
}
.parent > div {
    border: 1px solid red;
    /* 인라인 블록은 글씨 취급이라 margin auto가 되지않는다 */
    display: inline-block;
    /* width: 100px; */
    width:300px;
    height: 50px;
    
    margin: 30px;
    padding: 50px;
}
.parent2 {
    border: 1px dotted rgb(255,0,255);
    font-size: 0;
}
.parent2 > div  {
    border: 1px solid red;
    /* 인라인 블록은 글씨 취급이라 margin auto가 되지않는다 */
    display: inline-block;
    
    /* width: 100px; */
    width:300px;
    height: 50px;
    
    /* inline, inline-block만 적용 됨  */
    vertical-align: top;
    font-size:16px;
}
.hide { 
    /* 무언가를 가릴떄 쓴다 */
    display: none;
}
.table {
    display: table;
    
}
.table .td { 
    display: table-cell;
    border: 1px solid red;
    height: 100px;
    vertical-align: middle;   
}
