article img {
    width: 100px;
    float:left;
    
}
.box {
    border: 1px solid red;

    width:100px;
    height: 100px;
    margin: 10px;
   
}
.box.left {
     float:left;
     border: 1px solid blue;
     
}

.box.right{
     float:right;
     
}
.div3 { 
    border: 1px solid red;

}
.clearFix:after {
     content:"";
     content:"";
     display: block;
     clear: both;
}
.logo { 
    border:1px solid red;
    width: 100px;
    /* margin: auto; */
    display:inline-block;
    /* vertical-align: middle; */  
}
.header {
    text-align: center;
}